<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>EagleScout</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Eaglescout</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Log In</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Log In</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {{{body}}}

    <footer class="page-footer blue darken-3">
        <div class="container">
            <div class="row">
                <h5 class="white-text">FRC Team 114</h5>
                <p class="grey-text text-lighten-4">Los Altos High School Robotics is located in Los Altos, California. Our team has been competing in the FIRST Robotics competition since 1997 and is composed of a coed group of students representing grades 9 – 12. Team 114 aims to promote and sustain an understanding of science, engineering, and technology while also applying them in real life situations.</p>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-1" href="https://github.com/Eaglestrike">FRC Team 114 (Eaglestrike)</a>. Design in part by <a class="orange-text text-lighten-1" href="http://materializecss.com">MaterializeCSS</a>.
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>

</body>
</html>