<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>Eaglescout</title>

    <link rel="apple-touch-icon-precomposed" href="/img/eaglestrike.png" />
    <link rel="apple-touch-icon" href="/img/eaglestrike.png" />
    <link rel="shortcut icon" href="/img/eaglestrike.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Eaglescout</a>
            {{#if user}}
            <ul class="right hide-on-med-and-down">
                <li><a href="/account">Account</a></li>
                {{#if user.admin}}
                    <li><a href="/admin">Admin Dashboard</a></li>
                {{/if}}
                <li><a href="/scout">Scout Dashboard</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/account">Account</a></li>
                {{#if user.admin}}
                    <li><a href="/admin">Admin Dashboard</a></li>
                {{/if}}
                <li><a href="/scout">Scout Dashboard</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            {{else}}
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Log In</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/">Log In</a></li>
            </ul>
            {{/if}}
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {{{body}}}

    <br><br><br><br><br>
    
    <footer class="page-footer blue darken-3">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-1" href="https://github.com/Eaglestrike">FRC Team 114 (Eaglestrike)</a>. Design in part by <a class="orange-text text-lighten-1" href="http://materializecss.com">MaterializeCSS</a>.
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
    <script>!function(t,e,n){if(n in e&&e[n]){var i,a=t.location,r=/^(a|html)$/i;t.addEventListener("click",function(t){if(t.target.classList.contains("increment_number_minus_button")||t.target.classList.contains("increment_number_plus_button"))t.preventDefault();else{for(i=t.target;!r.test(i.nodeName);)i=i.parentNode;"href"in i&&(i.href.indexOf("http")||~i.href.indexOf(a.host))&&(t.preventDefault(),a.href=i.href)}},!1)}}(document,window.navigator,"standalone");</script>

</body>
</html>