<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>EagleScout</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Eaglescout</a>
            {{#if user}}
            <ul class="right hide-on-med-and-down">
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="/scout">Scout Dashboard</a></li>
            </ul>
            {{#if user.admin}}
            <ul class="right hide-on-med-and-down">
                <li><a href="/admin">Admin Dashboard</a></li>
            </ul>
            {{/if}}
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/scout">Scout Dashboard</a></li>
            </ul>
            {{#if user.admin}}
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/admin">Admin Dashboard</a></li>
            </ul>
            {{/if}}
            {{else}}
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Log In</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/">Log In</a></li>
            </ul>
            {{/if}}
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {{{body}}}

    <br><br><br><br><br>
    
    <footer class="page-footer blue darken-3">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-1" href="https://github.com/Eaglestrike">FRC Team 114 (Eaglestrike)</a>. Design in part by <a class="orange-text text-lighten-1" href="http://materializecss.com">MaterializeCSS</a>.
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>

</body>
</html>