<nav class="blue darken-2">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="/scout" class="breadcrumb">Scout</a>
            <a href="/scout/list" class="breadcrumb">List</a>
        </div>
    </div>
</nav>

{{#if success_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message green white-text">
                {{success_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error}}
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center blue-text text-darken-4">Eaglescout<span class="bullet"> &bull; </span><span class="subtitle">List</span></h1>
        <p class="center"><b>* Sorted by team number</b></p>
		<br>
        {{{table observations res}}}
	</div>
</div>

<div id="confirm-delete-modal" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete this observation?</h4>
        <p>This action cannot be undone.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat" id="delete-modal-link">Delete</a>
    </div>
</div>