<nav class="blue darken-2">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="/scout" class="breadcrumb">Scout</a>
            <a href="/scout/teamranking" class="breadcrumb">Team Ranking</a>
        </div>
    </div>
</nav>

{{#if success_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message green white-text">
                {{success_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error}}
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center blue-text text-darken-4">Eaglescout<span class="bullet"> &bull; </span><span class="subtitle">Team Ranking</span></h1>
		<br>
        <div class="input-field col s12">
            <select id="ranking-filter-select">
                <option value="">Default</option>
                <option value="hab_level" {{#if hab_level}} selected {{/if}}>HAB Level</option>
                <option value="hatches" {{#if hatches}} selected {{/if}}>Hatches</option>
                <option value="balls" {{#if balls}} selected {{/if}}>Balls</option>
                <option value="intakes" {{#if intakes}} selected {{/if}}>Intakes</option>
                <option value="speeds" {{#if speeds}} selected {{/if}}>Speeds</option>
                <option value="climb" {{#if climb}} selected {{/if}}>Climbing</option>
                <option value="assist" {{#if assist}} selected {{/if}}>Assisting</option>
            </select>
            <label>Select a Filter</label>
        </div>
        <br>
        {{{ranking points}}}
	</div>
</div>