/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.input-field input:focus + label {
	color: #1565c0 !important;
}
.input-field input:focus {
	border-bottom: 1px solid #1565c0 !important;
	box-shadow: 0 1px 0 0 #1565c0 !important;
}
.input-field .prefix.active {
	color: #1565c0;
}
.info-message {
	padding: 10px;
	font-size: 1.2em;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#admin-check [type="checkbox"].filled-in:checked + label::after {
	border: 2px solid red;
	background-color: red;
}
.dropdown-content li > a, .dropdown-content li > span {
	color: #1976d2;
}
.content {
  min-height: calc(100vh - 70px);
}
.page-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 9999;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
	border: 2px solid #1976d2;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
	background-color: #1976d2;
}
.input-field label {
	color: #1976d2;
}
.input-field input[type=text]:focus + label {
	color: #1976d2;
}
.input-field input[type=text]:focus {
	border-bottom: 1px solid #1976d2;
	box-shadow: 0 1px 0 0 #1976d2;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1976d2;
  -webkit-box-shadow: 0 1px 0 0 #1976d2;
          box-shadow: 0 1px 0 0 #1976d2;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #1976d2;
}
[type="checkbox"].filled-in:checked + label::after {
	border: 2px solid #1976d2;
	background-color: #1976d2;
}
input[type=range]::-webkit-slider-thumb {
	background-color: #1976d2;
}
input[type=range]::-moz-range-thumb {
	background-color: #1976d2;
}
input[type=range]::-ms-thumb {
	background-color: #1976d2;
}
input[type=range] + .thumb {
	background-color: #1976d2;
}
input[type=range] + .thumb.active .value {
	color: white;
}
[type="checkbox"]:checked + label:before {
	border-right: 2px solid #1976d2;
	border-bottom: 2px solid #1976d2;
}

@media all and (max-width: 768px) {
	span.bullet {
		display: none;
	}
	span.subtitle {
		display: block;
		font-size: 0.5em;
	}
	.no-mobile {
		display: none;
	}
}